/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow-x: hidden;
  font-family: 'Helvetica', sans-serif; }

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  section:last-of-type {
    height: 90vh;
    background-color: #EFE6DF; }

.groupPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5% 0;
  max-width: 1024px; }
  @media (min-width: 768px) {
    .groupPhotos {
      margin: 25px 0; } }
  .groupPhotos img {
    border-radius: 50%;
    width: 25%;
    height: auto;
    margin: 2.5%;
    max-width: 100px; }
    @media (min-width: 768px) {
      .groupPhotos img {
        margin: 15px; } }

footer {
  height: 10vh;
  width: 100%;
  background-color: #F7F3ED;
  display: flex;
  align-items: center; }
  footer img {
    height: 100%;
    width: auto; }
  footer div {
    margin-left: 2.5%; }
  footer p {
    width: auto; }

h1 {
  font-size: 1.75em;
  margin: 5% 0;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 768px) {
    h1 {
      margin: 40px 0;
      font-size: 1.35em; } }

p {
  width: 85%;
  line-height: 140%;
  max-width: 768px; }
  @media (min-width: 768px) {
    p {
      font-size: 0.8em; } }

.carousel {
  position: relative; }

.carouselImage {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  .carouselImage img {
    width: 50%;
    height: auto;
    transition: 0.3s; }
    @media (min-width: 425px) and (max-width: 768px) {
      .carouselImage img {
        max-width: 300px; } }
    @media (min-width: 768px) {
      .carouselImage img {
        max-width: 300px; } }
  .carouselImage div {
    width: 100%;
    margin: 5%; }

.prev, .next {
  cursor: pointer;
  width: auto;
  margin: 5%;
  color: #bbb;
  font-weight: bold;
  font-size: 1.75em;
  transition: 0.3s ease;
  user-select: none; }
  @media (min-width: 425px) and (max-width: 768px) {
    .prev, .next {
      font-size: 2.25em; } }
  .prev:hover, .next:hover {
    color: #717171; }

.dots {
  text-align: center; }
  .dots span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    display: inline-block;
    background-color: #bbb;
    border-radius: 50%; }
    .dots span.active, .dots span:hover {
      background-color: #717171; }

/*# sourceMappingURL=index.css.map */
