/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  overflow-x: hidden;
  font-family: 'Helvetica', sans-serif;
  color: #414B6E; }

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  section div {
    height: 100%;
    width: 75%;
    margin: 20% 5%; }
  section:last-of-type {
    height: 100%;
    background-color: #FBF7F1; }

#landing {
  color: #fff;
  background-color: #FBF7F1; }
  #landing h1 {
    font-size: 4em;
    text-transform: lowercase; }
  #landing h3 {
    width: 60%;
    font-size: 1.5em;
    margin: 40% 0; }
  #landing i {
    font-size: 1.5em;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5%;
    margin-top: 35%; }
    #landing i:hover {
      cursor: pointer; }

.center {
  text-align: center; }

.logo {
  height: 50px; }

.groupPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5% 0;
  max-width: 1024px; }
  @media (min-width: 768px) {
    .groupPhotos {
      margin: 25px 0; } }
  .groupPhotos img {
    border-radius: 50%;
    width: 25%;
    height: auto;
    margin: 2.5%;
    max-width: 100px; }
    @media (min-width: 768px) {
      .groupPhotos img {
        margin: 15px; } }

footer {
  height: 10vh;
  width: 100%;
  background-color: #F7F3ED;
  display: flex;
  align-items: center; }
  footer img {
    height: 100%;
    width: auto; }
  footer div {
    margin-left: 2.5%; }
  footer p {
    width: auto; }

h1 {
  font-size: 1.75em;
  margin: 5% 0;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 768px) {
    h1 {
      margin: 40px 0;
      font-size: 1.35em; } }

h4 {
  font-size: 1.15em;
  line-height: 150%; }

.carousel {
  position: relative; }

.carouselImage {
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap; }
  .carouselImage img {
    width: 50%;
    height: auto;
    transition: 0.3s; }
    @media (min-width: 425px) and (max-width: 768px) {
      .carouselImage img {
        max-width: 300px; } }
    @media (min-width: 768px) {
      .carouselImage img {
        max-width: 300px; } }
  .carouselImage div {
    width: 100%;
    margin: 5%; }

.prev, .next {
  cursor: pointer;
  width: auto;
  margin: 5%;
  color: #bbb;
  font-weight: bold;
  font-size: 1.75em;
  transition: 0.3s ease;
  user-select: none; }
  @media (min-width: 425px) and (max-width: 768px) {
    .prev, .next {
      font-size: 2.25em; } }
  .prev:hover, .next:hover {
    color: #717171; }

.dots {
  text-align: center; }
  .dots span {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 0.1em;
    display: inline-block;
    background-color: #bbb;
    border-radius: 50%; }
    .dots span.active, .dots span:hover {
      background-color: #717171; }
    @media (min-width: 768px) {
      .dots span {
        height: 0.75em;
        width: 0.75em; } }

video {
  width: 100%; }

.overlay {
  width: 100%;
  height: 0%;
  background-color: transparent;
  z-index: 1;
  transition: 0.3s;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
  left: 0; }

.infoSection {
  height: 75%;
  width: 100%;
  position: relative;
  top: 25%;
  background-color: #FBF7F1;
  display: flex;
  align-items: center; }

.infoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  justify-content: space-evenly; }
  .infoContent p {
    width: auto; }
  .infoContent img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 10%; }

.closeBtn {
  text-decoration: none;
  font-size: 3em;
  position: absolute;
  top: 5%;
  right: 10%;
  color: #000; }

/*# sourceMappingURL=index.css.map */
