$paleYellow: #FBF7F1;
$darkBlue: #414B6E;
$gray: #D8D8D8;


$mobileScreen: 425px;
$tabletScreen: 768px;
$desktopScreen: 1024px;

@mixin tablet
{
    @media (min-width: $mobileScreen) and (max-width: $tabletScreen)
    {
        @content;
    }
}

@mixin desktop
{
    @media (min-width: $tabletScreen)
    {
        @content;
    }
}