@import 'variables';
@import 'reset';

body
{
    overflow-x: hidden;
    font-family: 'Helvetica', sans-serif;
}

section
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:last-of-type
    {
        height: 90vh;
        background-color: #EFE6DF;
    }
}

.groupPhotos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5% 0;
    max-width: $desktopScreen;

    @include desktop
    {
        margin: 25px 0;
    }

    img
    {
        border-radius: 50%;
        width: 25%;
        height: auto;
        margin: 2.5%;
        max-width: 100px;

        @include desktop
        {
            margin: 15px;
        }
    }
}

footer
{
    height: 10vh;
    width: 100%;
    background-color: #F7F3ED;
    display: flex;
    align-items: center;

    img
    {
        height: 100%;
        width: auto;
    }

    div
    {
        margin-left: 2.5%;
    }

    p
    {
        width: auto;
    }
}

h1
{
    font-size: 1.75em;
    margin: 5% 0;
    text-transform: uppercase;
    font-weight: bold;

    @include desktop
    {
        margin: 40px 0;
        font-size: 1.35em;
    }
}

p
{
    width: 85%;
    line-height: 140%;
    max-width: $tabletScreen;

    @include desktop
    {
        font-size: 0.8em;
    }
}

.carousel
{
    position: relative;
}

.carouselImage
{
    text-align: center;
    // display: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    img
    {
        width: 50%;
        height: auto;
        transition: 0.3s;

        @include tablet
        {
            max-width: 300px;
        }

        @include desktop
        {
            max-width: 300px;
        }
    }

    div
    {
        width: 100%;
        margin: 5%;
    }
}

.prev, .next 
{
    cursor: pointer;
    width: auto;
    margin: 5%;
    color: #bbb;
    font-weight: bold;
    font-size: 1.75em;
    transition: 0.3s ease;
    user-select: none;

    @include tablet
    {
        font-size: 2.25em;
    }

    &:hover
    {
        color: #717171;
    }
}

.dots
{
    text-align: center;

    span
    {
        cursor: pointer;
        height: 1em;
        width: 1em;
        margin: 0 0.1em;
        display: inline-block;
        background-color: #bbb;
        border-radius: 50%;

        &.active, &:hover
        {
            background-color: #717171;
        }

        @include desktop
        {
            height: 0.75em;
            width: 0.75em;
        }
    }
}

video
{
    width: 80%;
}