@import 'variables';
@import 'reset';

//Any specific pixel numbers are set so elements won't get any larger on bigger screens

body
{
    overflow-x: hidden;
    font-family: 'Helvetica', sans-serif;
    color: $darkBlue;
}

section
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div
    {
        height: 100%;
        width: 85%;
        margin: 15% 0;
    }
}

#landing
{
    color: #fff;
    background-image: url("../img/journiBg.jpg");
    background-size: cover;
    background-position: 40%;
    height: 100vh;

    h1
    {
        font-size: 4em;
        text-transform: lowercase;
        letter-spacing: 0.1em;
    }

    h2
    {
        width: 50%;
        font-size: 1.25em;
        margin: 20% 0 40% 0;
        font-weight: 200;
        line-height: 150%;
        letter-spacing: 0.05em;
    }

    i
    {
        font-size: 1.25em;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 4%;
        
        &:hover
        {
            cursor: pointer;
        }
    }
}

.center
{
    text-align: center;
}

.logo
{
    height: 50px;
    margin: 5% 0;
}

.teamImg
{
    display: flex;
    margin: 2.5% 0;
    align-items: center;

    p
    {
        margin: 0;
        font-size: 0.9em;
    }

    div
    {
        margin: 5% 0;
    }

    i:first-of-type
    {
        margin-right: 5%;
    }

    img
    {
        border-radius: 50%;
        width: 45%;
        margin-right: 5%;
    }

    &:last-child
    {
        margin-bottom: 15%;
    }
}

#about
{
    background-color: $paleYellow;
}

.footer
{

    div
    {
        width: auto;
        margin: 5% 0;
    }

    a
    {
        font-size: 1.15em;
        color: $darkBlue;
        font-weight: 300;
        text-decoration: none;
        margin: 2.5% 0;
        display: inline-block;
    }

    p
    {
        font-weight: 600;
        margin: 0;
    }
}

h1
{
    font-size: 1.35em;
    text-transform: uppercase;
    font-weight: bold;

    @include desktop
    {
        margin: 40px 0;
        font-size: 1.35em;
    }
}

h3
{
    font-size: 1.15em;
    line-height: 150%;
    letter-spacing: 0.1em;
    font-weight: 300;
}

h4
{
    font-weight: bold;
}

p
{
    line-height: 140%;
    margin: 5% 0;
}

a
{
    transition: 0.2s;
}

a:hover
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.carousel
{
    margin-bottom: 0;
    width: 100%;
}

.carouselImage
{
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    img
    {
        width: 50%;
        height: auto;
        position: relative;
        transition: 0.3s;

        @include tablet
        {
            max-width: 300px;
        }

        @include desktop
        {
            max-width: 300px;
        }
    }

    div
    {
        width: 80%;
        margin-top: 7.5%;

        h4
        {
            font-size: 1.15em;
        }
    }
}

.prev, .next 
{
    cursor: pointer;
    width: auto;
    margin: 10%;
    font-weight: bold;
    font-size: 1.75em;
    transition: 0.3s ease;
    user-select: none;

    @include tablet
    {
        font-size: 2.25em;
    }

    &:hover
    {
        color: #717171;
    }
}

.dots
{
    text-align: center;
    margin-top: 0;
    
    span
    {
        cursor: pointer;
        height: 0.75em;
        width: 0.75em;
        margin: 0 0.1em;
        display: inline-block;
        background-color: #dadada;
        border-radius: 50%;

        &.active, &:hover
        {
            background-color: $darkBlue;
        }

        @include desktop
        {
            height: 0.75em;
            width: 0.75em;
        }
    }
}

video
{
    width: 100%;
    margin: 2.5% 0;
}